body {
    background-image: url('background.png');
}

canvas {
    margin: 50px auto;
    display: block;
}

#starter {
    margin: 0 auto;
    display: block;
    background-color: #fff;
    color: black;
    font-size: 20px;
    padding: 20px;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}
